%p{ class: 'form-title'}= t('setup.wizard.basic_information')
= form_for @signup, as: :signup, url: account_path, method: 'post' do |form|
  %h2= t('setup.wizard.question_whats_your_name')
  = error_messages_for(form)
  %div{ class: 'row'}
    .form-group{ class: 'col-md-5'}
      = form.label :first_name
      = form.text_field :first_name, class: 'form-control'
    .form-group{ class: 'col-md-5'}
      = form.label :last_name
      = form.text_field :last_name, class: 'form-control'
    .form-group{ class: 'col-md-2 col-sm6'}
      = form.label :suffix
      -#= form.select("album[]", "genre", %w[rap rock country], {})
      -#= form.select :suffix, [nil]+Setting.get(:system, :suffixes ''), {}, class: 'form-control'
  %div{ class: 'divider'}
  %h2= t('setup.wizard.tell_us_more_about_you')
  %div{ class: 'row'}
    .form-group{ class: 'col-md-6'}
      %h3{ class: 'subtitle'}= t('setup.wizard.question_whats_a_one_or_two_word_description')
      = form.label :description
      = form.text_field :description, class: 'form-control'
  %div{ class: 'row'}
    %h3{ class: 'col-md-12 subtitle'}= t('setup.wizard.question_when_were_you_born')
    .form-group{ class: 'col-md-4'}
      = form.label :birthday
      .input-group
        .input-group-btn
          %button{ type: 'button', class: 'btn btn-info date-picker-btn' }
            = icon 'fa fa-calendar'
        = form.date_field :birthday, class: 'form-control'
    .form-group{ class: 'col-md-2'}
      = form.label :gender
      = form.select :gender, [[t('search.male'), 'Male'], [t('search.female'), 'Female']], {include_blank: true}, class: 'form-control'
  %div{ class: 'row'}
    %h3{ class: 'col-md-12 subtitle'}= t('setup.wizard.question_are_you_married')
    .form-group{ class: 'col-md-4'}
      = form.label :anniversary
      .input-group
        .input-group-btn
          %button{ type: 'button', class: 'btn btn-info date-picker-btn' }
            = icon 'fa fa-calendar'
        = form.date_field :anniversary, class: 'form-control'
  %div{ class: 'row'}
    %h3{ class: 'col-md-12 subtitle'}= t('setup.wizard.question_do_you_have_any_allerigies')
    .form-group{ class: 'col-md-12'}
      = form.label :medical_notes
      = form.text_field :medical_notes, class: 'form-control'
